.block_radio {
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    margin-top: 2%;
    padding: 2%;
}

.block_radio input {
    
    margin-right: 10px;
}




.custom-tooltip {
    --bs-tooltip-bg: rgba(112, 44, 249, 1) !important;
    --bs-tooltip-color: white !important;
  }

