img, svg {
    /*max-width: 100%;*/

    border-radius: 10px;
}

@media (max-width: 767px) {
    img {
        width: 100% !important;

        min-height: 190px !important;
    }
}

.phone {
    max-height: 800px;
    max-width: 800px;
}